{% extends "webapp/base.html" %}

{% block content %}



<h1>  dashboard</h1> 
<h3>  welcome to the dashboard {{user}} 👋  </h3>

<hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">

        Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> Date_of_birth </th>
                <th scope="col"> SIN </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col"> State </th>
                <th scope="col"> Home_phone </th>

                <th scope="col"> Date joined </th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>

        {% if records %}

            {% for record in records %}

            <tr>

                <td> {{record.id}} </td>

                <td> {{record.Full_name}} </td>

                <td> {{record.Date_of_birth}} </td>

                <td> {{record.SIN}} </td>
                <td> {{record.Address}} </td>
                <td> {{record.City}} </td>
                <td> {{record.State}} </td>
                <td> {{record.Home_phone}} </td>

                <td> {{record.creation_date}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'view-record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}


        </tbody>


    </table>

{% endblock %}